div(*ngIf='rep')

  section.head
    div
      img.image(src='{{ rep.imageUrl }}')
    .title
      h2([ngClass]='rep.partyStyleClass') {{ rep.party }}
      h2 {{ rep.titleName }}
      .contact-buttons
        .call-button(*ngIf='rep.phone as phone')
          a.button-icon(
            mat-button,
            [ngClass]='"button-party-" + rep.party.toLowerCase()',
            href='tel:{{ phone | numbersOnly }}',
          )
            mat-icon(svgIcon='phone')
            span {{ phone }}
        .social-media
          span(*ngFor='let medium of rep.availableSocialMedia')
            a.mat-button(
              mat-button,
              target='_blank',
              href='{{ medium.url }}',
              class='button socicon-{{ medium.name }}',
            )

  section.meta-details
    .detail-block.district(*ngIf='rep.district !== null')
      h4 District
      h3 {{ rep.district | districtOrdinal }}   
    .detail-block.office
      h4 Office
      h3
        | {{ rep.office }}

  section.committees
    h4 Committee Assignments
    ul.committee-list
      li(
        *ngFor='let committee of rep.committees',
        [ngClass]='{ expanded: isExpanded(committee) }',
      )
        span(*ngIf='committee.url; else nameNoLink')
          a(target='_blank' href='{{ committee.url }}') {{ committee.name }}
        span(*ngIf='hasSubs(committee)')
          mat-icon.committee-expander(
            (click)='expand(committee)',
            [matTooltip]="(isExpanded(committee) ? 'Hide':'Show') + ' Subcommittees'",
            matTooltipPosition='right',
          ) expand_more
        ng-template(#nameNoLink) {{ committee.name }}
        ul.subcommittee-list
          li(*ngFor='let subcommittee of rep.subcommittees[committee.thomasId]')
            | {{ subcommittee.displayName }}

  section.external-links
    h4 On Other Websites
    .other-websites
      a.mat-button.button-small(
        mat-button,
        *ngFor="let link of rep.availableExternalLinks",
        target='_blank',
        href='{{ link.url }}',
      ) {{ link.label }}
