#pre-app-loader
  // compiled css is automatically inserted into this style tag
  style= style
  .logo-loader
    svg(
      version='1.1'
      viewBox='0 0 210 31'
      xmlns='http://www.w3.org/2000/svg'
    )
      g(fill='none' fill-rule='evenodd')
        each d in paths
          path(d=d)